server:
  port: 8082

spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:postgresql://localhost:5433/catalog_db
    username: admin
    password: admin123

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/realms/coffeeshop/protocol/openid-connect/certs
