server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/order_db
    username: admin
    password: admin123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/realms/coffeeshop/protocol/openid-connect/certs
